body {
   min-width:1300px; /* suppose you want minimun width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:1000px;             /* As IE ignores !important it will set width as 1000px; */
   margin-bottom: 60px;
}

.stats header {
  text-align: center;
  margin-bottom: 1.0em;
}

.stats header div {
  
}

.stats header .events {
	width: 500px;
	height:25px;
	margin:auto;
	font-size: 15px;
}

.stats header .total {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 2.0em;
}

.stats header .avg {
	font-size: 15px;
	font-weight: bold;
}

.small_foot_body{
   min-width:1300px; /* suppose you want minimun width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:1000px;             /* As IE ignores !important it will set width as 1000px; */
   margin-bottom: 20px;
}

.totals {
	width:50%;
	text-align: center;
}

.teamtotals {
	width:100%;
	text-align: center;

}

.teamtotals tbody tr td {
	height: 100px;
	vertical-align: middle;
}

.teamtotals tr:nth-child(even) {
    background-color: #F0F0F0;
}

.teamtotals .header {
	font-size: 30px;
	text-decoration: none;
	font-weight: bold;
	padding-bottom: 20px;
}

.callsign {
font-size: 30px;
width: 15%;
font-weight: bold;
color: black;	
}

.callsign-active {
font-size: 30px;
width: 15%;
font-weight: bold;
color: green;	
}

.callsign-standby {
font-size: 30px;
width: 15%;
font-weight: bold;
color: blue;	
}

.members {
width: 35%;
font-size: 15px;
}

.status{
width: 15%;
}

.jobcount{
width: 15%;
font-size: 30px;
}

.update{
width: 20%;
font-size: 15px;
}


#open {
border: 1px solid black;
color: black;
text-shadow: 1px 1px 6px red;
}

#closed {
border: 1px solid black;
color: black;
text-shadow: 1px 1px 6px green;

}

#totalnumber {
border: 1px solid black;
text-shadow: 1px 1px 6px black;

}

.totals tr td {
	width:33.33%;
}
.totals .header {
	font-size: 30px;
	text-decoration: none;
	font-weight: bold;
}

.totals .rowresults {
font-size: 90px;
}


.cloud {margin-left:auto; margin-right:auto; display:block;}





.bigtbl {
	width:100%;
	text-align: center;
}

.bigtbl tr td {
	width:25%;
}
.bigtbl .header {
	font-size: 40px;
	text-decoration: none;
	font-weight: bold;
}

.bigtbl .rowresults {
font-size: 80px;
}


.smltbl {
	width:100%;
	text-align: center;
}

.smltbl tr td {
	width:25%;
}

.smltbl .header {
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
}

.smltbl .rowresults {
font-size: 50px;
}

.graphs {
	width:100%;
	text-align: center;
}


.graphs tr td
{
  padding-bottom: 5em;
}



.tinytbl {
	width:100%;
	text-align: center;
}

.tinytbl tr td {
	width:25%;
}

.tinytbl .header {
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
}

.tinytbl .rowresults {
font-size: 30px;
}


footer {
	position: fixed;
	background-color:white;
	bottom: 0px;
	width: 100%;
	height: 55px;
	font-size:12px;
	text-align: center;
}

footer .lastline {
  position: relative;
}

footer .timer {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 1px;
}

.small_foot {
	position: fixed;
	background-color:white;
	bottom: 0px;
	width: 100%;
	height: 20px;
	font-size:12px;
	text-align: center;
}


input[type="radio"] {
	margin-right: 5px;
}

label, input {
    display: inline;
    margin-right: 2px;
}

label {
    margin-left: 20px;
}


#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: block;
   opacity: 1;
   font-size: 20px;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 40%;
  width: 20%;
  z-index: 100;
}

