.tag-lighthouse{
  color: black !important;
  background-color: #3CF !important;
  border-color: black !important;
}
.tag-lighthouse > .tag-text:before {
}
.tag-lighthouse > .tag-text:after {
	content:"";
}
