#asset-route-warning {
  color: red;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: "latobold";

  text-align: center;
  font-size: small;
}

#below-map-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#map-errors {
  color: red;
  width: 33%;
  margin-top: 5px;
  font-family: "latobold";
  text-align: center;
  font-size: smaller;
}

#filter-warning {
  color: red;
  width: 33%;
  margin-top: 5px;
  font-family: "latobold";
  text-align: right;
  font-size: smaller;
}


#asset-draw-time {
  color: black;
  width: 33%;
  margin-top: 5px;
  font-family: "latobold";
  text-align: left;
  font-size: smaller;
}

.marker-pin {
  width: 40px;
  height: 40px;
  border-radius: 50% 50% 50% 0;
  background: #c30b82;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.marker-pin::after {
    content: '';
    width: 34px;
    height: 34px;
    margin: 3px 0 0 3px;
    background: #000;
    position: absolute;
    border-radius: 50%;
 }

.custom-div-icon i {
   position: absolute;
   width: 22px;
   font-size: 22px;
   left: 0;
   right: 0;
   margin: 10px auto;
   text-align: center;
}

 #nearest-asset-table {
   margin-bottom: 5px
 }

 #nearest-asset-table tbody tr:hover th {
    background: #E8E8E8;
}

 #nearest-asset-table tbody tr:hover td {
    background: #E8E8E8;
}

.nearest-asset-table-selected {
   background: #00A36C;
   color: white;
}

.nearest-asset-table-selected:hover th {
   background: #9FE2BF !important;
}

.nearest-asset-table-selected:hover td {
   background: #9FE2BF !important;
}

.leaflet-routing-container {
    display: none;
}

.leaflet-loader-container {
	height: 100%;
  visibility: hidden;
	width: 100%;
  display: table;
	position: absolute;
	z-index: 99999;
	cursor: auto;
}
.leaflet-loader-container .leaflet-loader-background {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  opacity: 0.6;
  color: white;
  font-size: 15px;
  font-family: "latobold";
	height: 100%;
	width: 100%;
	background-color: black;
}

.leaflet-tooltip {
   font-size: 11px;
}

#locate {
    width: 15px;
    border-radius: 5px;
    height: 15px;
    margin: auto;
}

.nounderline {
  text-decoration: none !important
}