body.previewbeacon .login-page i.icon-beacon-logo {
  color: #007FFF;
}

#lighthouse-keepalive {
  display: none;
}

.lighthouse-keepalive {
  text-align: center;
  background-color: red;
  margin-top: 2.0em;
  overflow: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: gray;
  color: white;
}

.lighthouse-keepalive .text {
  padding: 10px 0;
  float: center;
}

.lighthouse-keepalive img {
  float: left;
  margin-right: 10px;
  width: 100px;
  height: 100px;
}
