@import url("include/common.css");
@import url("node_modules/dc/dc.css");
@import url("node_modules/jqcloud-npm/dist/jqcloud.css");


.dc-chart .pie-slice {
    fill: black;
    font-size: 10px;
    cursor: pointer;
}