@import url("include/common.css");

body {
  color: black;
}

.lh-box {
  background-color: black;
  border-radius: 5px;
  margin: 10px;
  padding-bottom: 10px;
}

.lh-box .lh-title {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 2.0em;
}

.lh-box .lh-heading {
  color: white;
  font-size: 3.0em;
  font-weight: bold;
  text-align: center;
}

.lh-box .lh-details {
  color: white;
  font-size: 1.0em;
  text-align: center;
  padding-top: 10px;
}

.lh-box .lh-body {
  background-color: white;
  margin: 0px 10px;
}

.lh-box .lh-body .lh-cell {
  margin: 10px;
  padding: 5px;
  /*background-color: blue;
  color: white;
  border-radius: 5px;*/
  text-align: center;
}

.lh-box .lh-body .lh-cell .lh-label {
  font-weight: bold;
  font-size: 2.0vmax;
}

.lh-box .lh-body .lh-cell .lh-value {
  font-size: 3.0vmax;
}
.lh-box .lh-body .lh-cell .lh-subscript {
  font-size: 1.5vmax;
}

.results {
  margin-bottom: 50px
}

.footer {
	background-color: white;
	width: 100%;
	height: 55px;
	font-size: 12px;
	text-align: center;
}


/* ==== Imports ==== */
/* Lato Font */
@import url('https://fonts.googleapis.com/css?family=Lato');

/* ==== Color Palette ==== */
:root {
    /* Night Theme */
    --night-background: #252830; /* Dark Grey */
    --night-main-text: #ffffff; /* White */
    --night-sub-text: #252830; /* Dark Grey */
    --night-box-border: #454A58; /* Grey */
    /* Day Theme */
    --day-background: #F1F2F3; /* Off White */
    --day-main-text: #252830; /* Dark Grey */
    --day-sub-text: #485063; /* Grey */
    --day-box-border: #f7931d; /* Orange */
}

/* ==== Page ==== */
/* Page Background */
body.night {
    background-color: #252830;
}
body.day {
    background-color: #F1F2F3;
}

/* Footer */
body.night .footer{
    background-color: #252830;
    color: white;
}
body.day .footer{
    background-color: #F1F2F3;
    color: #252830;
}
.footer {
    width: 100%;
    height: 55px;
    font-size: 12px;
    text-align: center;
}

/* ==== Boxes ==== */
/* Box Borders + Title Box BG */
body.day .lh-box {
    background-color: #f7931d;
}
body.night .lh-box {
    background-color: #454A58;
}
/* Main box backgrounds */
body.night .lh-box .lh-body {
    background-color: #252830;
}
body.day .lh-box .lh-body {
    background-color: #F1F2F3;
}
/* Non Color Definitions */
.lh-box {
    border-radius: 4px;
    margin: 10px;
    padding-bottom: 10px;
}
.lh-box .lh-body {
    margin: 0 10px;
}
.lh-box .lh-body .lh-cell {
    margin: 10px;
    padding: 5px;
}
.no-right-padding {
    padding-right: 0;
}
.no-left-padding {
    padding-left: 0;
}

/* ==== Fonts ==== */
/* Number Values */
body.day .lh-value {
    color: #252830;
}
body.night .lh-value {
    color: white;
}
/* Percentages */
body.day .lh-subscript {
    color: #485063;
}
body.night .lh-subscript {
     color: #737b8e;
}
/* Labels */
body.day .lh-box .lh-body .lh-cell .lh-label {
    color: #252830;
}
body.night .lh-box .lh-body .lh-cell .lh-label {
    color: white;
}
/* Box Title */
body.night .lh-box .lh-title {
    color: white;
}
body.day .lh-box .lh-title {
    color: #252830;
}
/* Page Title */
body.night .lh-box .lh-heading {
    color: white;
}
body.day .lh-box .lh-heading {
    color: #252830;

}
/* Time and Date */
body.night .lh-box .lh-details {
    color: white;
}
body.day .lh-box .lh-details {
    color: #252830;

}
/* Non Color Definitions */
h1, h2, h3, h4, h5,
.lh-label,
.lh-title,
.lh-heading,
.lh-details,
.lh-value,
.lh-subscript{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
.lh-box .lh-body .lh-cell .lh-value {
    font-size: 3.0vmax;
}
.lh-box .lh-body .lh-cell .lh-subscript,
.lh-box .lh-body .lh-cell .lh-label{
    font-size: 1.5vmax;
}
.lh-box .lh-title {
    font-weight: 400;
    font-size: 2.0em;
}
.lh-box .lh-heading {
    font-weight: 400;
    font-size: 3.0em;
    letter-spacing: 2px;
}
.lh-box .lh-details {
    font-size: 1.2em;
    padding-top: 10px;
    font-weight: 600;
}
