body{
   min-width:1300px; /* suppose you want minimun width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:1000px;             /* As IE ignores !important it will set width as 1000px; */
}

.bigtbl {
	width:100%;
	text-align: center;
}

.bigtbl tr td {
	width:25%;
}
.bigtbl .header {
	font-size: 50px;
	text-decoration: none;
	font-weight: bold;
}

.bigtbl .rowresults {
font-size: 90px;
}


.smltbl {
	width:100%;
	text-align: center;
}

.smltbl tr td {
	width:25%;
}

.smltbl .header {
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
}

.smltbl .rowresults {
font-size: 50px;
}

.graphs {
	width:100%;
	text-align: center;
}

.tinytbl {
	width:100%;
	text-align: center;
}

.tinytbl tr td {
	width:25%;
}

.tinytbl .header {
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
}

.tinytbl .rowresults {
font-size: 30px;
}

#total {
	font-size: 25px;
	font-weight: bold;
}

#results {
	visibility: hidden;
}


footer {
	position: fixed;
	background-color:white;
	bottom: 0px;
	width: 100%;
	height: 55px;
	font-size:12px;
	text-align: center;
}

input[type="radio"] {
	margin-right: 5px;
}

label, input {
    display: inline;
    margin-right: 2px;
}

label {
    margin-left: 20px;
}


#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 40%;
  width: 20%;
  z-index: 100;
}

