.bigtbl {
	width:100%;
	text-align: center;
}

.bigtbl tr td {
	width:25%;
}
.bigtbl .header {
	font-size: 50px;
	text-decoration: none;
	font-weight: bold;
}

.bigtbl .rowresults {
font-size: 90px;
}


.smltbl {
	width:100%;
	text-align: center;
}

.smltbl tr td {
	width:25%;
}

.smltbl .header {
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
}

.smltbl .rowresults {
font-size: 50px;
}

#total {
	font-size: 25px;
	font-weight: bold;
}

#results {
	visibility: hidden;
}


footer {
	position: fixed;
	background-color:white;
	bottom: 0px;
	width: 100%;
	height: 35px;
	font-size:12px;
	text-align: center;
}

